.bar {
  background-color:black;
  /*z-index:150;*/
  width:99%;
  /*border:1px black dotted;*/
  padding:3px;
  margin:auto;
}

a, a:visited {
  color:#003399;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

.bar a,a:visited {
  margin:10px;
  text-decoration:none;
  color:#fafafa;
}

.bar a:hover {
  color:#7cfc00; 
}

body {
  margin:0;
  padding:0;
  background-color:#fafafa;
  color: black;
  font-size: 14px;
  font-family:monospace;
}
.head {
  text-align:center;
  margin-bottom:70px;
}

h1 {
	margin-bottom:-15px
}
p {
  margin:0;
  padding:0px 0px 0px 0px;
}

.bepo_version{
	color:#aaa;
	font-size:0.6em;
	padding:6px 0 0px 300px;
}
/*.kb {
	border:1px solid black;
	border-radius:3px;
	background-color:gray;
	padding:2px;
	width:inherit;
	margin:auto;
}*/

.key {
	border:1px solid black;
	border-radius:3px;
	margin:2px;
	width:20px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	background-color:white;
	float:left;
}


input[type=button], button {
  border:1px black solid;
  background-color:#ebebeb;
  font-size: 12px; 
  color: black; 
  font-family: monospace;
  margin-bottom:3px;
  -moz-border-radius: 5px;
  border-radius:5px; 
}
.full_width {
  width:100%;
  text-align:center;
}
input[type=button]:hover {
  background-color:#fafafa;
}
input[type=text] {
  font-size: 14px; 
  color: black; 
  font-family: monospace; 
}
hr {
  border-top : solid 1px #cccccc;
  border-bottom : none;
  border-left:none;
  border-right:none;
  margin-bottom:30px;
  margin-top:30px;
}

select {
  border:none;
  font-family:monospace;
  font-size:14px;
  background-color:#fafafa;
  width:40px;
}
img {
  vertical-align:middle;
}
.main {
  /*text-align:center;*/
  width:750px;
  margin:auto;
}
.text_nmbr {
  width:100%;
  border:none;
  text-align:left;
}
.err {
  visibility:hidden;
  color:red;
  font-weight:bold;
  font-size:18px;
  background-color:#ffbbbb;
}
.new_text {
  border:none;
  text-align:left;
  padding:5px;
  font-family:monospace;
  font-size:14px;
}
.options {
  border:none;
  text-align:left;
  width:300px;
  float:left;
  padding:0px 5px 5px 5px;

  font-family:monospace;
  font-size:14px;
}
.view_options {
  display:block;
}
.result {
  /*float:right;*/
  text-align:left;
  /*width:420px;*/
  width:748px;
  padding:5px;
  font-family:monospace;
  font-size:14px;
}
.txt {
  border:1px #777777 dashed;
  border-top:none;
  border-right:none;
  border-left:none;
  background-color:#fafafa;
  width:680px;
  /*height:240px;*/
  font-family:monospace;
  font-size:14px;
  margin-bottom:5px;
  
}
.rd_txt {
  /*border:1px black solid;*/
  /*height:auto;*/
  /*color:white;*/
  text-align:left;
  width:748px;
  height:80px;
  font-family:monospace;
  font-size:14px;
  /*text-align:justify;*/
  /*background-color:grey;*/
}
/*a, a:visited {
  color:#003399;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
} */
.d_replay {
  visibility:visible;
  float:right;
}

.options {
  display:none;
  padding:10px;
  position:absolute;
  z-index:2;
  width:300px;
  border:solid black 1px;
  top:200px;left:50%;
  margin-left:-150px;
  background-color:#fafafa;
  border-radius:10px;
}
.options a, a:visited {
  color:#003399;
  text-decoration:none;
}
.options a:hover {
  text-decoration:underline;
}
.help {
  display:none;
  padding:10px;
  position:absolute;
  z-index:2;
  width:600px;
  border:solid black 1px;
  top:150px;left:50%;
  margin-left:-300px;
  background-color:#fafafa;
  border-radius:10px;
}
.help p {
  padding-bottom:10px
}

.voile {
  display:none;
  background-color:black;
  opacity:0.5;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:100%;
}
	